@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    background-color: lightyellow;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    display: flex;
    justify-content: center;
}

nav ul {
    padding-left: 0;
}

nav li {
    list-style: none;
    display: inline-block;
    width: 150px;
    height: 30px;
}

nav li a {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    text-align: center;
    color: black;
    font-weight: 700;
    padding-top: 10px;
}

nav li a:hover {
    border-bottom: 3px solid black;
}

.container{
    width: 80%;
    margin: 0 auto;
}

.btn {
    display: block;
    width: 200px;
    padding: 10px;
    border: none;
    background-color: rgb(62, 234, 117);
    border-radius: 5px;
    text-decoration: none;
    font-weight: 700;
    text-align: center;
}

.container {
    width: 80%;
    margin: 0 auto;
}

#categories {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #categories td, #categories th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #categories tr:nth-child(even){background-color: #f2f2f2;}
  
  #categories tr:hover {background-color: #ddd;}
  
  #categories th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
  }

  .fa-trash{
    color: red;
  }

  .fa-refresh{
    color: green;
  }

  table form{
    display: inline-block;
  }

  table a{
    text-decoration: none;
  }


  #supplier {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #supplier td, #supplier th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #supplier tr:nth-child(even){background-color: #f2f2f2;}
  
  #supplier tr:hover {background-color: #ddd;}
  
  #supplier th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
  }

  #brand {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #brand td, #brand th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #brand tr:nth-child(even){background-color: #f2f2f2;}
  
  #brand tr:hover {background-color: #ddd;}
  
  #brand th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
  }

  #user {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #user td, #user th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #user tr:nth-child(even){background-color: #f2f2f2;}
  
  #user tr:hover {background-color: #ddd;}
  
  #user th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
  }


  #product {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #product td, #product th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #product tr:nth-child(even){background-color: #f2f2f2;}
  
  #product tr:hover {background-color: #ddd;}
  
  #product th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
  }

  #product {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #sale td, #sale th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #sale tr:nth-child(even){background-color: #f2f2f2;}
  
  #sale tr:hover {background-color: #ddd;}
  
  #sale th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
  }