{% extends 'base.html' %}

{% block title %}
    Proveedores
{% endblock %}

{% block content %}
    <h1>Proveedores Page</h1>
    <h2>Lista de Proveedores</h2>
    <a href="{{ url_for('proveedor.create_sup') }}" class="btn btn-success">Nuevo Proveedor</a>
    <table id="supplier">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Localidad</th>
                <th>Telefono</th>
                <th>Direccion</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for sup in supplier %}
                <tr>
                    <td>{{ sup.id_proveedor }}</td>
                    <td>{{ sup.nombre }}</td>
                    <td>{{ sup.localidad }}</td>
                    <td>{{ sup.telefono }}</td>
                    <td>{{ sup.direccion }}</td>
                    <td>
                        <a href="{{ url_for('proveedor.update_sup', id_proveedor=sup.id_proveedor) }}">
                            <i class="fa fa-refresh"></i> 
                        </a> 
                        <form method="post" action="{{ url_for('proveedor.delete_sup', id_proveedor=sup.id_proveedor) }}">
                            <button type="submit"
                                    onclick="return confirm('seguro')">
                                <i class="fa fa-trash"></i>
                            </button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}