{% extends 'base.html' %}

{% block title %}
    Marcas
{% endblock %}

{% block content %}
    <h1>Marcas Page</h1>
    <h2>Lista de Marcas</h2>
    <a href="{{ url_for('marca.create_bra') }}" class="btn btn-success">Nuevo marca</a>
    <table id="brand">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>

                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for bra in brand %}
                <tr>
                    <td>{{ bra.id_marca }}</td>
                    <td>{{ bra.nombre }}</td>

                    <td>
                        <a href="{{ url_for('marca.update_bra', id_marca=bra.id_marca) }}">
                            <i class="fa fa-refresh"></i> 
                        </a> 
                        <form method="post" action="{{ url_for('marca.delete_bra', id_marca=bra.id_marca) }}">
                            <button type="submit"
                                    onclick="return confirm('seguro')">
                                <i class="fa fa-trash"></i>
                            </button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}